<?php
    life();
?>
<!DOCTYPE HTML>
<head>
    <title>文章管理</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="<?php echo base_url('css/check_display.css')?>">
    <script type="text/javascript" src="<?php echo base_url('js/jquery-3.2.0.js')?>"></script>
    <link rel="stylesheet" href="<?php echo base_url('css/bootstrap.css')?>">

</head>
<body>


<div class="admintop">
    <span><img src="<?php echo base_url('images/login/Hunsdon.png')?>" alt="logo" width="60%" height="60%"></span>
    <ul>
        <li><a href="#">欢迎你,admin</a></li>
        <li><a href="<?php echo site_url('background/quit');?>">安全退出</a></li>
    </ul>
</div>
<div class="admincenter">
    <div class="adminNavigation sidebar">
        <div class="adminNavigation">
            <dl>
                <dd>
                    <div class="title"><a id="system" href="<?php  echo site_url('background/user_operate/display');?>" >用户管理</a></div>
                </dd>
                <dd>
                    <div class="title"><a href="<?php  echo site_url('background/order_operate/display');?>">订单管理</a></div>
                </dd>
                <dd>
                    <div class="title"><a href="<?php  echo site_url('background/machine/display');?>" >净水机型号管理</a></div>
                </dd>
                <dd>
                    <div class="title"><a href="<?php  echo site_url('background/filter/display');?>" >净水机滤芯管理</a></div>
                </dd>
                <dd>
                    <div class="title"><a href="<?php  echo site_url('background/article/display');?>" >文章管理</a></div>
                </dd>
            </dl>
        </div>
    </div>
    <div class="admintable">
        <div class="operate_top">
            <a class="btn btn-warning" href="<?php  echo site_url('background/article_skip/edit');?>">添加文章</a>
        </div>
        <table class="dateTable user">
            <thead>
            <tr>
                <td>文章编号</td>
                <td>文章标题</td>
                <td>创建时间</td>
                <td>更新时间</td>
                <td>操作</td>
            </tr>
            </thead>
            <tbody>
            <?php foreach($article_array as $obj):?>
            <tr>
                <td><?= $obj->articleid?></td>
                <td><?= $obj->articlename?></td>
                <td><?= $obj->createtime?></td>
                <td><?= $obj->updatetime?></td>
                <td>
                    <a href="<?php echo site_url('background/article/check/') . $obj->articleid?>">查看</a>
                    <a href="<?php echo site_url('background/article_skip/update/') . $obj->articleid . '/' . $this->uri->segment(4 , 0)?>">修改</a>
                    <a href="<?php echo site_url('background/article/delete/') . $obj->articleid . '/' . $this->uri->segment(4 , 0)?>" id="del" onclick= "return confirm('是否确定删除?');">删除</a>
                </td>
            </tr>
            <?php endforeach?>
            </tbody>
        </table>
        <div class="operate">
            <div class="link">
                <?php   echo $links;?>
            </div>
        </div>
    </div>
</div>
</div>
<!--<div class="adminbm">版权所有Copyright © 2017 All Rights Reserved. 灵山乐嘉教育有限公司</div>-->
</body>
</html>

