/*初始化*/
blockquote, body, button, dd, div, dl, dt, form, h1, h2, h3, h4, h5, h6, input, li, ol, p, pre, td, textarea, th, ul {margin: 0;padding: 0;}
body{word-wrap: break-word !important;font: 14px Helvetica Neue,Helvetica,PingFang SC,微软雅黑,Tahoma,Arial,sans-serif;color: #333;background-color: #FFF;
    word-break: break-all;}
a{text-decoration: none;color:#000;}
a:hover,a:active{text-decoration: none;color: #8F8C8F;}

/*.main{max-width: 640px !important;margin: 0px auto;background-color: #fff !important;overflow: hidden;}*/
/*标题*/
.content h2{font-size:24px;font-weight:400;line-height:1.4;margin-bottom:10px;margin-top:20px;}
.author{margin-bottom:18px;line-height:20px;font-size:0px;}
.author em{font-style: normal;color: #8C8C8C;display: inline-block;vertical-align: middle;margin-right: 8px;margin-bottom: 10px;font-size: 16px;}
.author a{color: #978EFC;}
/*文章内容*/
.imgcontent{border: 0px none; text-align: center; box-sizing: border-box;}
.imgcontent img{margin: 5px auto; max-width: 100%; height: auto;}


/*footer*/
.footer{min-height: 155px;max-width: 640px ;background: #C5D9D4 url(../images/home/raw_1506414163.png) no-repeat center 15%;margin-bottom: 10px;}
.footer .message{padding: 70px 0 10px 0;width: 80%;margin: 0 auto;}
.message p{text-align: center;color: #8C8C8C;font-size: 16px;}


/*central_article.html*/
/*footer*/
.central_foot{margin: 30px 0 10px 0;}
.central_foot div{margin: 0 10px;display: inline;}
.central_foot span,.footer em, .footer a {color: #C7C7D6;font-size: 16px;font-style: normal;}
.central_foot .likeicon:hover{cursor: pointer;}
.central_foot a{float: right;}

/*home_article.html*/

