<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>工程机</title>

    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=10,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=0,minimal-ui">
    <link href="images/favicon.gif" rel="icon" type="image/icon">
    <link rel="stylesheet" href="<?php echo base_url('css/bootstrap.css')?>">
    <script type="text/javascript" src="<?php echo base_url('js/jquery-3.2.0.js')?>"></script>
    <script type="text/javascript" src="<?php echo base_url('js/bootstrap.js')?>"></script>
    <link rel="stylesheet" href="<?php echo base_url('css/article_index.css')?>">
    <!-- <link rel="stylesheet" type="text/css" href="../css/first.css"> -->
    <style type="text/css">

    </style>


</head>
<body cz-shortcut-listen="true">
<div id="editer" class="container main" style="max-width: 640px !important;margin: 0px auto;background-color: #fff !important;overflow: hidden;">
    <div class="content" >
        <!-- 标题 -->
        <h2>全屋净水器</h2>
        <!-- 时间、作者 -->
        <div class="author">
            <em >2017-10-20 </em>
            <em>汉斯顿集团</em>
        </div>

        <section data-role="outer"  style="font-family:微软雅黑;font-size:16px;">
            <section class="imgcontent" >
                <img src="<?php echo base_url('images/machine/raw_1506415917.png')?>" data-src="../images/machine/raw_1506415917.png">
            </section>
            <section class="imgcontent" >
                <img src="<?php echo base_url('images/machine/raw_1506415943.png')?>" data-src="../images/machine/raw_1506415943.png">
            </section>
            <section class="imgcontent" >
                <img src="<?php echo base_url('images/machine/raw_1506415956.png')?>" data-src="../images/machine/raw_1506415956.png">
            </section>
            <section class="imgcontent" >
                <img src="<?php echo base_url('images/machine/raw_1506415970.png')?>" data-src="../images/machine/raw_1506415970.png">
            </section>

        </section>
    </div>
    <div class="footer">
        <!-- <img src="../images/home/raw_1506414163.png"> -->
        <div class="message">
            <p>公司名称：江西汇沐暖通工程有限公司</p>
            <p>公司地址:江西省南昌市红谷滩新区华南城E加国际建材大市场D-3-070号</p>
        </div>
    </div>
</div>

</body>
</html>