<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>每周一学</title>
    <link rel="stylesheet" href="<?php echo base_url('css/bootstrap.css')?>">
    <link rel="stylesheet" href="<?php echo base_url('css/week_news.css')?>">
    <script type="text/javascript" src="<?php echo base_url('js/jquery-3.2.0.js')?>"></script>
    <script type="text/javascript" src="<?php echo base_url('js/bootstrap.js')?>"></script>
    <script type="text/javascript" src="<?php echo base_url('js/week_news.js')?>"></script>
</head>
<body>

<div class="container">
    <div id="show" >
        <!--<div class="news" style="margin-top:30px;">-->
            <!--<a href="<?php echo site_url('foreground/article/check/' . $obj->articleid)?>" style="display: block;">-->
                <!--<div class="row clearfix article" style=" height:110px;overflow: hidden;border-bottom: 1px solid #989898;" id="articleimg">-->
                    <!--<div class="thumbnail article_img col-xs-3 col-md-2 " style="height:100px;overflow: hidden;">-->
                        <!--&lt;!&ndash;src="<?php echo $obj->articleimg?>"&ndash;&gt;-->
                        <!--<img alt="缩略图" style="height:100px;overflow: hidden;" id="newsimg">-->
                    <!--</div>-->
                    <!--<div class="article_title col-xs-8 " style="overflow: hidden;">-->
                        <!--<h4 id="articlename"></h4>-->
                        <!--<h5 id="updatetime"></h5>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</a>-->
        <!--</div>-->
    </div>
    <div class="click_more" id="click_more" onclick="addmore();">点击加载更多</div>
</div>
<script>

</script>

</body>
</html>